<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="AdditionalSetting" type="ConsoleApp8.AdditionalSettingSection, ConsoleApp8"/>
	</configSections>
	<AdditionalSetting>
		<settings>
		<setting name="Indusoft.OMSClient.MainWindow.Tanks">
				<hiddenTanks>
					<tank name="Резервуар 111"/>
					<tank name="Резервуар 333"/>
				</hiddenTanks>
			</setting>
		
			<setting name="Indusoft.OMSClient.MainWindow.Products">
				<hiddenTanks>
					<tank name="Резервуар 111"/>
					<tank name="Резервуар 333"/>
				</hiddenTanks>
			</setting>

			<setting name="Indusoft.OMSClient.Functions.AddTransfers">
				<!--Функциональность Создать операцию-->
				<hiddenTanks>
					<tank name="Резервуар 111"/>
					<tank name="Резервуар 333"/>
				</hiddenTanks>
			</setting>

			<setting name="Indusoft.OMSClient.Functions.ManualInput">
				<!--Функциональность Ввод данных-->
				<hiddenTanks>
					<tank name="Резервуар 111"/>
					<tank name="Резервуар 333"/>
				</hiddenTanks>
			</setting>
		</settings>
	</AdditionalSetting>
</configuration>